body{
  font-family: 'Montserrat';
}
.btnContainer{
  display: flex;
}


.bcarousel{
    /* align-items: center;
    margin-top: 55px;
    position: absolute; */


    margin: 0 auto;
    background-color: transparent;
    text-align: center;
    position:absolute;
    z-index:50;
    top:75%;
    left:48%;
    margin-top:-23px;
    margin-left:-50px;
}
#p1{
  height: 700px;
  
}
#p2{
  height: 700px;
  
}
#p3{
  height: 700px;
  
}
#p4{
  height: 700px;
  
}
.btn-block{
  width: 90%;
}
/* navbar */

.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 30px;
  transition: all .7s;
}

.menu-item{
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
  transition: color .5s;
}

.menu-item:hover{
  color: #70aed2;
}

.line1, .line2, .line3{
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar{
  padding: 5px 30px;
  background: linear gradient(rgba(0,0,0,.6), rgba(0,0,0,.7))
}

/* end of nav */

/* mission */

.mission{
  background: #151f20;
}

.underline{
  width: 150px;
  border: 3px solid #eee;
  margin: auto;
}

.fromLeft{
  animation-name: fromLeft;
  animation-duration: 3s;
}

.fromRight{
  animation-name: fromRight;
  animation-duration: 3s;
}


@keyframes fromLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

/* end of mission */

/* customers */

.customers{
  background-color: #151f20;
}

/* end of Customers */



/*footer*/
.footer-link{
  color: #eee;
  font-size: 13px;
  transition: all .3s;

}
.footer-link-hover{
  color: #70aed2;
  text-decoration: none;
}
/*end of footer*/
